<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sample.service.app">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application android:allowBackup="true">
		<service android:name=".Service"
                 android:enabled="true"
                 android:exported="true">
            <intent-filter>
                <action android:name="com.sample.service.app.Service" />
            </intent-filter>
        </service>
    </application>
</manifest>
